@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('materialize/font/material-design-icons/Material-Design-Icons.woff2') format('woff2');

}

.topic td{
  height: 10px
}

.topic tr{
  height: 10px
}
.answer{
  margin-left: 10px;
  font-size: 1rem;
  margin-right: 10px;
  font-family:'DejaVu Serif Condensed';
}
.comment-top{
  border-left: 2px solid darkgrey;
}

.comment-para{
  font-family:Lohit Devanagari;
  font-size: 15px;
  margin-left: 30px;

}
.leftnavigation{
  width: 270px;
  margin-right: 4px;
  float:left;
  margin-bottom:10px;
}
.middleconten{
  width:500px;
  float:left;
}
.rightcontent{
  width: 195px;
  float: right;
  padding: 6px 0 0 8px;
  height: 500px;
  overflow: auto;
  font-size: 12px;
}



.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}
