{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} {{ question.qs }} - IGNOUZ{% endblock %}

{% block content %}
    <div class="row">
        <ldiv class="container" style="position:relative;">
            <div class="row">
                <div class="col s12 m12 l12 icon-block">
                    <div class="section no-pad-bot card-panel" id="index-banner">
                    <div class="question">
                        <h5> {{ question.qs }}</h5>
                        <i> By {{ question.user }}</i>
                        <br>
                        <br>
                        <b>{{ answer.count }} Answers </b>
                    </div>
                        <hr>
                    <div class="answer-block">
                        {% for i in answer %}
                            <div class="answer">
                                <p >{{ i.ans }}</p>
                            <div class="right by">
                                <i >Answer by {{ i.user }}</i>
                                <i> on {{ i.date }}</i>
                            </div>
                            <div class="glyphicon-comment"><br>


                                <a href="javascript:myfunction({{ i.id }})" name="cmt" id="cmt">Comment</a>
                                <form id="post-comment">
                                <span id="cmt-ids" cmt-id="{{ i.id }}"></span>
                                    {% csrf_token %}
                                    <div id="comment-area" clicks="no">
                                        <div id="comment-form{{ i.id }}" clicks="no" class="comment-form" style="display: none;width: 40%">

                                        </div>
                                    </div>
                                </form>

                                <div class="comment-top nslide" id="nlide">
                                    <div class="comment-para">
                                        {% for j in comments %}
                                            {% if j.forwhat_id == i.id %}
                                                <p>{{ j.comment }} :- <i class="by">{{ j.user }} on {{ j.date }}</i></p>
                                                <hr width="100" size=".5px" color="grey" align="left">
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                 </div>
                            </div>
                            </div>
                            <br>
                            <hr>
                               {% endfor %}
                        <h5>Give your answer</h5>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </ldiv>
{% endblock %}
{% block script %}
<script type="text/javascript">

function myfunction(e) {

    ht="<div id='areas'><textarea id='cmt-area' class='form-control' name='area1' cols='40' cmt-id=''></textarea><br /> <input type='submit' class='btn' value='post'></div>"

    ad="#comment-form"+e;
//    $(ad).css('width: 50%; display: block;');


    $(ad).css('width: 50%;');
    $(ad).html(ht);
    $(ad).toggle(100);
    if( $(ad).attr('ex')!='no')
        //$('textarea').remove('#cmt-area');
    //$(ad).show();

    $('#cmt-area').attr('cmt-id',e)

    if($(ad).attr('clicks')=='no'){
        $(ad).attr('clicks','yes')
        console.log('yes')
    }else {

        $(ad).attr('clicks','no')
        $('div').remove('#areas')
        console.log('no')
    }

    //$('#cmt-area').attr('cmt-id',e);

//    $('.comment-top').show("slide", { direction: "down" }, 1000);
    //$(ad).toggle(html)

    console.log("there");
    console.log(e)
}
/*$('#cmt').click(function(){
    alert('yess')
});*/



$(document).ready(function(){
    function myfunction(e){
        console.log('ok')
    }
    //console.log('hhh')
});



$(document).on('submit','#post-comment',function(e){
    e.preventDefault();
    console.log("skldflksdfj");
    $.ajax({
        type:'POST',
        url:'/community/comment/'+$('#cmt-area').attr('cmt-id'),
        data:{
            comment:$('#cmt-area').val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
        },
        complete:function() {
            da=$('#cmt-area').val();
            console.log(da);
            ad='#comment-form'+$('#cmt-area').attr('cmt-id');
            $(ad).attr('clicks','no');
            //$('#comment-area').attr('clicks','no')
            temp=$('#cmt-area').val();

            $('div').remove('#areas');
            l="<p>"+temp+"</p><hr width='100' size='.5px' color='grey' align='left'>";
            console.log(l);
            //$('.comment-para').append(l).animate(200);
            //console.log(ad);
            $(ad).css('display','none')

        },
        success:function(e){
            console.log(e);
            if(e=='OK') {
                console.log('done');
                //$(ad).css('display','none')
            }else{
                //console.log(da)
            }

        }

    })
})

</script>
{% endblock %}