{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} {{ question.qs }} - IGNOUZ{% endblock %}
{% block statics %}
<script src="{% static 'ckeditor/ckeditor.js' %}"></script>
<script src="{% static 'ckeditor/config.js' %}"></script>
<script src="{% static 'ckeditor/samples/js/sample.js' %}"></script>
<link rel="stylesheet" href="{% static 'ckeditor/samples/css/samples.css' %}">
<link rel="stylesheet" href="{% static 'ckeditor/samples/toolbarconfigurator/lib/codemirror/neo.css' %}">
<!--<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">-->
{% endblock %}
{% include 'editor_file.html' %}

{% block content %}
    <div class="row">
        <ldiv class="container" style="position:relative;">
            <div class="row">
                <div class="col s12 m12 l12 icon-block">
                    <div class="section no-pad-bot card-panel " id="index-banner">
                    <div class="question">
                        <h5> {{ question.qs }}</h5>
                        <i> By {{ question.user }}</i>
                        <br>
                        <br>
                        <b>{{ answer.count }} Answers </b>
                    </div>
                        <hr>
                    <div class="answer-block">
                        {% for i in answer %}
                            <div class="answer no-style">

                                <p>{{ i.ans|safe }}</p>
                            <div class="right by">
                                <i >Answer by {{ i.user }}</i>
                                <i> on {{ i.date }}</i>
                            </div>
                            <div class="glyphicon-comment"><br>


                                <a href="javascript:myfunction({{ i.id }})" name="cmt" id="cmt">Comment</a>
                                <form id="post-comment">
                                <span id="cmt-ids" cmt-id="{{ i.id }}"></span>
                                    {% csrf_token %}
                                    <div id="comment-area" clicks="no">
                                        <div id="comment-form{{ i.id }}" clicks="no" class="comment-form" style="display: none;width: 40%">

                                        </div>
                                    </div>
                                </form>

                                <div class="comment-top nslide" id="nlide">
                                    <div class="comment-para">
                                        {% for j in comments %}
                                            {% if j.forwhat_id == i.id %}
                                                <p>{{ j.comment }} :- <i class="by">{{ j.user }} on {{ j.date }}</i></p>
                                                <hr width="100" size=".5px" color="grey" align="left">
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                 </div>
                            </div>
                            </div>
                            <br>
                            <hr>
                               {% endfor %}
                            <a id="ans" href="javascript:ed(1)">Give your answer</a>
                             <div class="giveyouranswer">
                                <div class="editor" id="editor">
                                    <form id="ans-form" ans_ids="{{ question.id }}">
                                        {% csrf_token %}
                                        {{ form.media }}
                                        {{ form.ans }}<br>
                                        <input type='submit' name='post-answer' value='submit'>

                                   </form>
                                </div>
                             </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </ldiv>
    <style>
/*        h3 {
            font-size: 2rem;
            line-height: 110%;
            margin: 1.14rem 0 0.912rem 0;
        }
        h4 {
            font-size: 1.78rem;
            line-height: 110%;
            margin: 1.14rem 0 0.912rem 0;
        }*/
        .table{
            border-collapse: collapse;
            margin: 0;
            padding: 0;
            border: 0;
            outline: 0;
            font-size: 100%;
            vertical-align: baseline;
            background: transparent;
        }
        table.table td{
        border: dashed !important;
        border-width: thin !important;
            text-align: center;
            /*border: dashed !important;
        border-width: thin !important;
        height: auto !important;*/

        margin: 0;
        padding: 0;

        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }
    code{
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
    }
    pre code {
        padding: 0;
      font-size: inherit;
      color: inherit;
      white-space: pre-wrap;
      background-color: transparent;
      border-radius: 0;
    }

    pre {
  display: block;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  margin-left: 15px;
  margin-right: 15px;
}
    .giveyouranswer{
        margin-left: 15px;
        display: block;
        margin-right: 15px;
    }
    h1{
        font-size: 2em;
    }
        h2 { font-size: 1.5em; }
    h3 { font-size: 1.17em; }
    h4 { font-size: 1.12em; }
    h5 { font-size: .83em; }
    h6 { font-size: .75em; }



    </style>
{% endblock %}

{% block script %}




<script type="text/javascript">



$(document).on('submit','#ans-form',function (e) {
    console.log('sdf '+$('#ans-form').attr('ans_ids')),
    console.log($('#ans-form').attr('ans_ids')),
    e.preventDefault(),
    $.ajax({
        type:'POST',
        url:'/community/answer/'+$('#ans-form').attr('ans_ids'),

        data:{
            ans:$('#id_ans').val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
        },
        success:function (e) {
            if(e=='OK') {
                console.log('success')
            }
            else if(e=='NOT'){
                console.log('Not')
            }
            else{
                console.log('another error')
            }
        }
    })

});



function ed(e) {
    console.log('kjhkhk')
    //var ht="<div class='editor' id='first'>";
    //$('.ditor').html(ht);
    $('#editor').toggle(200);

    //initSample();
    //h="<input type='button' name='post-answer' value='submit'>"
    //$('.ans-submit').html(h)
}
function myfunction(e) {

    ht="<div id='areas'><textarea id='cmt-area' class='form-control' name='area1' cols='40' cmt-id=''></textarea><br /> <input type='submit' class='btn' value='post'></div>"

    ad="#comment-form"+e;
//    $(ad).css('width: 50%; display: block;');


    $(ad).css('width: 50%;');
    $(ad).html(ht);
    $(ad).toggle(100);
    if( $(ad).attr('ex')!='no')
        //$('textarea').remove('#cmt-area');
    //$(ad).show();

    $('#cmt-area').attr('cmt-id',e)

    if($(ad).attr('clicks')=='no'){
        $(ad).attr('clicks','yes')
        console.log('yes')
    }else {

        $(ad).attr('clicks','no')
        $('div').remove('#areas')
        console.log('no')
    }

    //$('#cmt-area').attr('cmt-id',e);

//    $('.comment-top').show("slide", { direction: "down" }, 1000);
    //$(ad).toggle(html)

    console.log("there");
    console.log(e)
}
/*$('#cmt').click(function(){
    alert('yess')
});*/



$(document).ready(function(){

    $('table').addClass('table')
    //console.log('hhh')
});



$(document).on('submit','#post-comment',function(e){
    e.preventDefault();
    console.log("skldflksdfj");
    $.ajax({
        type:'POST',
        url:'/community/comment/'+$('#cmt-area').attr('cmt-id'),
        data:{
            comment:$('#cmt-area').val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
        },
        complete:function() {
            da=$('#cmt-area').val();
            console.log(da);
            ad='#comment-form'+$('#cmt-area').attr('cmt-id');
            $(ad).attr('clicks','no');
            //$('#comment-area').attr('clicks','no')
            temp=$('#cmt-area').val();

            $('div').remove('#areas');
            l="<p>"+temp+"</p><hr width='100' size='.5px' color='grey' align='left'>";
            console.log(l);
            //$('.comment-para').append(l).animate(200);
            //console.log(ad);
            $(ad).css('display','none')

        },
        success:function(e){
            console.log(e);
            if(e=='OK') {
                console.log('done');
                //$(ad).css('display','none')
            }else{
                //console.log(da)
            }

        }

    })
})

</script>
{% endblock %}