<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'materialize/js/materialize.min.js' %}"></script>
<script src="{% static 'js/ckMaterializeOverrides.js' %}"></script>
<script src="{% static 'lib/codeMirror/xml.js' %}"></script>
<script src="{% static 'js/materialNote.js' %}"></script>
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}">
<link rel="stylesheet" href="{% static 'css/materialNote.css' %}">
<link rel="stylesheet" href="{% static 'css/codeMirror/codemirror.css' %}">
<link rel="stylesheet" href="{% static 'css/codeMirror/monokai.css' %}">

