{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Dashboard{% endblock %}

{% block content %}
        <div class="row">
           <a href="/Question_paper/">
            <div class="col s12 m5 l4 icon-block">
                <div class="section no-pad-bot card-panel hoverable" id="index-banner">
                    <div class="container">
                          <h3 class="header center orange-text">Question Paper </h3>
                        <br>
                        <div class="row center">
                            <h5 class="header col s12 light">solved question Available for BCA & MCA</h5>
                          </div>
                          <div class="row center">
                            <a href="#" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
                          </div>
                          <br><br>
                    </div>
            </div>
            </div>
            </a>
            <div class="col s12 m5 l4 icon-block">
                <div class="section no-pad-bot card-panel hoverable" id="index-banner">         
                    <div class="center-align">      
                          <h3 class="header center orange-text">Tutorial</h3>
                        <br>
                        <br><br><br>
                        <div class="row center">
                            <h5 class="header col s12 light">Tutorial Available for BCA & MCA</h5>
                        </div>
                        <div class="row center">
                            <a href="#" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
                        </div>
                          <br><br> 
                    </div>
            </div>
            </div>
            <div class="col s12 m5 l4 icon-block">
                <div class="section no-pad-bot card-panel hoverable" id="index-banner">
                    <div class="center-align">

                          <h3 class="header center orange-text">Live &nbsp; Projects</h3>
                        <br>
                        <div class="row center">
                            <h5 class="header col s12 light">Live Projects &nbsp;&nbsp;&nbsp;&nbsp;  Specially for BCA & MCA</h5>
                          </div>
                          <div class="row center">
                            <a href="#" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
                          </div>
                          <br><br>
                    </div>
            </div>
                </div>
            </div>


            <div class="row">
                <div class="col s12 m5 l4 icon-block ">
                    <div class="section no-pad-bot card-panel hoverable" id="index-banner">
                        <div class="container">

                              <h3 class="header center orange-text">Tutorials </h3>
                            <br><br><br>
                            <div class="row center">
                                <h5 class="header col s12 light">Tutorial Avaibale</h5>
                              </div>
                              <div class="row center">
                                <a href="#" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
                              </div>
                              <br><br>
                        </div>
                    </div>
                </div>
                <a href="/community/">
                <div class="col s12 m5 l4 icon-block" >
                    <div class="section no-pad-bot card-panel hoverable" id="index-banner">
                        <div class="center-align">
                              <h3 class="header center orange-text">Community</h3>
                            <br>
                            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                            <div class="row center">
                                <h5 class="header col s12 light">Community for ask any question</h5>
                              </div>
                              <div class="row center">
                                <a href="#" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
                              </div>
                              <br><br>
                        </div>
                    </div>
                </div>
                    </a>
                <div class="col s12 m5 l4 icon-block">
                    <div class="section no-pad-bot card-panel hoverable" id="index-banner">
                        <div class="center-align">

                              <h3 class="header center orange-text">Books</h3>
                            <br><br>
                            <div class="row center">
                                <h5 class="header col s12 light">All Ignou books for MCA/BCA</h5>
                              </div>
                              <div class="row center">
                                <a href="#" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
                              </div>
                              <br><br>
                        </div>
                    </div>
                    </div>
                </div>

{% endblock %}
