{% extends 'base.html' %}
{% block title %}Question Papers{% endblock %}

{% block content %}
        <div class="row center">
        {% for i in question %}
            <div class="col s12 m4 l3 icon-block">
                <div class="section no-pad-bot card-panel" id="index-banner">
                    <h4 class="header center orange-text">{{ i }}</h4>
                   <div id="here">
                <a href="{{ i.id }}/0" >December</a> | <a href="{{ i.id }}/1">June</a>
                   </div>

                </div>

            </div>
        {% endfor %}
        </div>
{% endblock %}
{% block script %}
<script lang="text/javascript">
function sessiosn(e) {

    content='<p>here</p>';
    idd='#here'+e;
    console.log(idd)
    $(idd).remove('#br')
    $(idd).html(content)
    $(idd).toggle(200)

}

</script>
{% endblock %}

